@import url('https://fonts.googleapis.com/css?family=Lato:wght@100;300;400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    transition: all .3s ease-in-out;
    text-decoration: none;
}

a:hover,
a:active {
    filter:saturate(2.5)
}

:root {
    --primary-color: white;
    --secondary-color: #50e3c2;
    --dark-grey-color: #2f3237;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--dark-grey-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.is-loading {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 3rem;
}

/* container */
.container {
    max-width: 79vw;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

.bg-dark {
    background-color: var(--dark-grey-color);
}

.logo__image {
    width: 10rem;
    padding: 1em 0;
}

.hero {
    background-image: url(./photo-couch.jpg);
    background-size: cover;
    background-position: center 30%;
    width: 100vw;
    z-index: -1;
    display: flex;
    align-items: flex-end;
}

.hero__box {
    max-width: 41em;
    margin-block-end: 4em;
}

.hero__subtitle, 
.hero__title, 
.hero__description {
    color: var(--primary-color);
}

.hero__subtitle, 
.hero__description {
    font-size: clamp(1rem, 1vw, 1.25rem);
    line-height: 1.5;
}

.hero__title {
    font-size: clamp(2.75rem, 3.5vw, 3.5rem);
    line-height: 1.15;
    font-weight: 300;
    margin: 0;
}

.hero__description {
    margin-block-end: 1.75em;
    max-width: 25em;
}

.hero__subtitle, .hero__title, .hero__description {
    color: var(--primary-color);
}

.btn {
    padding: .5em 1.75em;
    color: var(--dark-grey-color);
    font-size: clamp(1.125rem, 1vw, 1.125rem);
    font-weight: 500;
    background-color: var(--secondary-color);
    border-radius: 1.5em;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.how-it-works {
    background-color: #f2f1ef;
}

section {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.section__title {
    text-align: center;
    margin: 0 0 2rem; 
    font-size: clamp(2rem, 1vw, 2rem);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1em;
}

.card {
    text-align: center;
    box-sizing: border-box;
    max-width: 21.5em;
    transition: all .3s ease-in-out;
}

.card:hover,
.card:active {
    transform: translateY(-10px);
}

.card__step {
    font-size: clamp(3.75rem, 1vw, 3.75rem);
    border-bottom: 5px solid var(--secondary-color);
    display: inline-block;
    margin: auto;
    padding-bottom: .25em;
}

.card__title {
    font-size: clamp(1.5rem, 1vw, 1.5rem);
    margin: 1em 0 0.5em;
    text-transform: uppercase;
}

.card__description {
    font-size: clamp(1rem, 1vw, 1rem);
    max-width: 15em;
    margin-inline: auto;
}

@media (min-width:1200px) {
    .cards {
        gap: 2rem;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 1400px) {
    .hero {
        height: 40vw;
    }
}

@media only screen and (min-width: 1560px) {
  .hero {
    background-image: url(./photo-couch_2x.jpg);
  }
}
